html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.todo-item {
    word-break: break-all;
}

@media (max-width: 768px) {
    .todo-item {
        flex-direction: column;
    }

    .todo-item__btn {
        margin-top: 1rem;
    }

    .random-btn, .remove-all-btn {
        font-size: .9rem;
    }
}